<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>BICC Innovators</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    <!-- hero - start -->
    <div class="bg-white pb-6 sm:pb-8 lg:pb-12">
        <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
            <header class="mb-4 flex items-center justify-between py-4 md:py-8">
                <!-- logo - start -->
                <a href="/" class="inline-flex items-center gap-2.5 text-2xl font-bold text-black md:text-3xl"
                    aria-label="logo">

                    Anomaly Detection
                </a>
                <!-- logo - end -->

                <!-- nav - start -->
                <nav class="hidden gap-12 lg:flex">
                    <a href="/" class="text-lg font-semibold text-indigo-500">Home</a>
                    <a href="#"
                        class="text-lg font-semibold text-gray-600 transition duration-100 hover:text-indigo-500 active:text-indigo-700">About</a>
                    <a href="#"
                        class="text-lg font-semibold text-gray-600 transition duration-100 hover:text-indigo-500 active:text-indigo-700">Training</a>
                    <a href="#"
                        class="text-lg font-semibold text-gray-600 transition duration-100 hover:text-indigo-500 active:text-indigo-700">Anomalies Detection</a>
                </nav>
                <!-- nav - end -->

                <!-- buttons - start -->
                <a href="/detection"
                    class="hidden rounded-lg bg-gray-200 px-8 py-3 text-center text-sm font-semibold text-gray-500 outline-none ring-indigo-300 transition duration-100 hover:bg-gray-300 focus-visible:ring active:text-gray-700 md:text-base lg:inline-block">Detect Anomalies</a>

                <button type="button"
                    class="inline-flex items-center gap-2 rounded-lg bg-gray-200 px-2.5 py-2 text-sm font-semibold text-gray-500 ring-indigo-300 hover:bg-gray-300 focus-visible:ring active:text-gray-700 md:text-base lg:hidden">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd"
                            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h6a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                            clip-rule="evenodd" />
                    </svg>

                    Menu
                </button>
                <!-- buttons - end -->
            </header>

            <section
                class="min-h-96 relative flex flex-1 shrink-0 items-center justify-center overflow-hidden rounded-lg bg-gray-100 py-16 shadow-lg md:py-20 xl:py-48">
           

                <!-- overlay - start -->
                <div class="absolute inset-0 bg-indigo-500 mix-blend-multiply"></div>
                <!-- overlay - end -->

                <!-- text start -->
                <div class="relative flex flex-col items-center p-4 sm:max-w-xl">
                    <p class="mb-4 text-center text-lg text-indigo-200 sm:text-xl md:mb-8">Very proud to introduce</p>
                    <h1 class="mb-12 text-center text-4xl font-bold text-white sm:text-5xl md:mb-12 md:text-6xl" style="width: 180%;">
                        Smarter Reconciliation and Anomaly Detection</h1>

                        <p class="text-center mb-8 leading-relaxed text-black-500 md:mb-12 xl:text-lg">Detect Anomalies using historical and real-time data <br>
                            Classify detected anomalies for categorization <br>
                            Generate resolution summaries using AI insights</p>

                    <div class="flex w-full flex-col gap-2.5 sm:flex-row sm:justify-center">
                        <a href="/anomalies_report"
                            class="inline-block rounded-lg bg-indigo-500 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-600 focus-visible:ring active:bg-indigo-700 md:text-base">Anomalies Report</a>

                        <a href="/detection"
                            class="inline-block rounded-lg bg-gray-200 px-8 py-3 text-center text-sm font-semibold text-gray-500 outline-none ring-indigo-300 transition duration-100 hover:bg-gray-300 focus-visible:ring active:text-gray-700 md:text-base">Anomaly Detection</a>
                    </div>
                </div>
                <!-- text end -->
            </section>
        </div>
    </div>
    <!-- hero - end -->

 

    <!-- team - start -->
    <div class="bg-white py-6 sm:py-8 lg:py-12">
        <div class="mx-auto max-w-screen-xl px-4 md:px-8">
            <!-- text - start -->
            <div class="mb-10 md:mb-16">
                <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl">Meet our Team</h2>

                <p class="mx-auto max-w-screen-md text-center text-gray-500 md:text-lg">We are a passionate team of AI and data science experts, dedicated to building innovative solutions with cutting-edge machine learning and generative AI technologies.</p>
            </div>
            <!-- text - end -->

            <div class="grid grid-cols-2 gap-x-4 gap-y-8 md:grid-cols-4 lg:gap-x-8 lg:gap-y-12">
                <!-- person - start -->
                <div class="flex flex-col items-center">
                    <div
                        class="mb-2 h-24 w-24 overflow-hidden rounded-full bg-gray-100 shadow-lg md:mb-4 md:h-32 md:w-32">
                        <img src="./static/deepak.jpeg"
                            loading="lazy" alt="Photo by Radu Florin"
                            class="h-full w-full object-cover object-center" />
                    </div>

                    <div>
                        <div class="text-center font-bold text-indigo-500 md:text-lg">Deepak Tiwari</div>
                        <p class="mb-3 text-center text-sm text-gray-500 md:mb-4 md:text-base">Senior Infrastructure Engineer</p>

                        
                    </div>
                </div>
                <!-- person - end -->

                <!-- person - start -->
                <div class="flex flex-col items-center">
                    <div
                        class="mb-2 h-24 w-24 overflow-hidden rounded-full bg-gray-100 shadow-lg md:mb-4 md:h-32 md:w-32">
                        <img src="./static/jay.jpg"
                            loading="lazy" alt="Photo by christian ferrer"
                            class="h-full w-full object-cover object-center" />
                    </div>

                    <div>
                        <div class="text-center font-bold text-indigo-500 md:text-lg">Jay Prakash Bind</div>
                        <p class="mb-3 text-center text-sm text-gray-500 md:mb-4 md:text-base">Systems Operations Engineer</p>

                        
                    </div>
                </div>
                <!-- person - end -->

                <!-- person - start -->
                <div class="flex flex-col items-center">
                    <div
                        class="mb-2 h-24 w-24 overflow-hidden rounded-full bg-gray-100 shadow-lg md:mb-4 md:h-32 md:w-32">
                        <img src="./static/kajal.jpeg"
                            loading="lazy" alt="Photo by Ayo Ogunseinde"
                            class="h-full w-full object-cover object-center" />
                    </div>

                    <div>
                        <div class="text-center font-bold text-indigo-500 md:text-lg">Kajal Prasad</div>
                        <p class="mb-3 text-center text-sm text-gray-500 md:mb-4 md:text-base">Systems Operations Engineer</p>

                        
                    </div>
                </div>
                <!-- person - end -->

                

                
                <!-- person - start -->
                <div class="flex flex-col items-center">
                    <div
                        class="mb-2 h-24 w-24 overflow-hidden rounded-full bg-gray-100 shadow-lg md:mb-4 md:h-32 md:w-32">
                        <img src="./static/mano.jpeg"
                            loading="lazy" alt="Photo by Leilani Angel"
                            class="h-full w-full object-cover object-center" />
                    </div>

                    <div>
                        <div class="text-center font-bold text-indigo-500 md:text-lg">Manoranjitha</div>
                        <p class="mb-3 text-center text-sm text-gray-500 md:mb-4 md:text-base">Senior Database Engineer</p>

                        
                    </div>
                </div>
                <!-- person - end -->

                <!-- person - start -->
                <!-- <div class="flex flex-col items-center">
                    <div
                        class="mb-2 h-24 w-24 overflow-hidden rounded-full bg-gray-100 shadow-lg md:mb-4 md:h-32 md:w-32">
                        <img src="https://images.unsplash.com/photo-1562904403-a5106bef8319?auto=format&q=75&fit=crop&w=256"
                            loading="lazy" alt="Photo by Jernej Graj"
                            class="h-full w-full object-cover object-center" />
                    </div>

                    <div>
                        <div class="text-center font-bold text-indigo-500 md:text-lg">Pijush Kumar Joardar</div>
                        <p class="mb-3 text-center text-sm text-gray-500 md:mb-4 md:text-base">Senior Software Engineer</p>

                        
                    </div>
                </div> -->
                <!-- person - end -->
            </div>
        </div>
    </div>
    <!-- team - end -->

    <!-- call to action - start -->
    <div class="bg-white py-6 sm:py-8 lg:py-12">
        <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
            <div class="flex flex-col overflow-hidden rounded-lg bg-gray-200 sm:flex-row md:h-80">
                <!-- image - start -->
                <div class="order-first h-48 w-full bg-gray-300 sm:order-none sm:h-auto sm:w-1/2 lg:w-2/5">
                    <img src="https://images.unsplash.com/photo-1525547719571-a2d4ac8945e2?auto=format&q=75&fit=crop&w=1000"
                        loading="lazy" alt="Photo by Andras Vas" class="h-full w-full object-cover object-center" />
                </div>
                <!-- image - end -->

                <!-- content - start -->
                <div class="flex w-full flex-col p-4 sm:w-1/2 sm:p-8 lg:w-3/5">
                    <h2 class="mb-4 text-xl font-bold text-gray-800 md:text-2xl lg:text-4xl">Training model</h2>

                    <p class="mb-8 max-w-md text-gray-600">Retraining a model involves updating it with new data to improve accuracy, adapt to changing patterns, and enhance performance. This ensures the model remains relevant and continues making reliable predictions over time.</p>

                    <form method="POST" action="/train">
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary mb-3">Train Model</button>
                    </div>
                    </form>
                </div>
                <!-- content - end -->
            </div>
        </div>
    </div>
    <!-- call to action - end -->
    <hr>
    <!-- footer - start -->
    <footer class="bg-white">
        

        <div class="border-t py-8 text-center text-sm text-gray-400">© 2025 - BICC Innovators. All rights
            reserved.</div>
    </footer>
    <!-- footer - end -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>